<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Inspira.odo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".mainLuncher.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logoodo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoodo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".mainLuncher.LogInActivity" />
        <activity android:name=".mainLuncher.SinInRegis" />
        <activity
            android:name=".mainLuncher.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme"></activity>
        <activity android:name=".mainLuncher.RegistrationActivity" />
        <activity
            android:name=".buyerUi.NavigationActivity"
            android:theme="@style/nav">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".buyerUi.MainActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".buyerUi.RequestResponses"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".buyerUi.NavigationDrawerBuyer"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".sellerUi.ContinuingRegSeler"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".sellerUi.WorkingOnOne"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sellerUi.NavigationDrawerSeler"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>
        <activity
            android:name=".sellerUi.DialogeSellerData"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name=".buyerUi.AddAntherPartDetails" />
        <activity
            android:name=".buyerUi.TyreBattereyRequestsTabe"
            android:label="@string/title_activity_tyre_batterey_requests_tabe"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".buyerUi.detalisOfRequest" />
        <activity android:name=".sellerUi.MapsActivity" />
        <activity android:name=".mainLuncher.ContioFacebbokRigis" />
        <activity
            android:name=".buyerUi.GetDirection"
            android:label="@string/title_activity_get_direction" />
        <activity
            android:name=".buyerUi.MapsActivity"
            android:label="@string/title_activity_get_direction" />
        <activity android:name=".sellerUi.RespondtoaReques" />
        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".adds.Main3Activity"
            android:label="@string/title_activity_main3" /> <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".mainLuncher.ContinueRigeWithFacebook" />
        <activity
            android:name=".adds.Main4Activity"
            android:label="@string/title_activity_main4" />
        <activity
            android:name=".adds.Main5Activity"
            android:label="@string/title_activity_main5" />
        <activity
            android:name=".mainLuncher.ContinueRigeTration"
            android:label="@string/title_activity_continue_rige_tration"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>